* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  place-items: center;
  width: 100dvw;
  height: 100dvh;
}

h1, h2, h3 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
